body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111010;
    color:white;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .navbar-brand{
    color: #e0d8d8;
    font-size:20px;
    font-weight: bold;
}
nav ul {
    list-style-type: none;
    display:flex;
    margin: 0;
    padding: 0;
}
.source-link{
    color: #258eb8;
    text-decoration: none;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #e0d8d8;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #000000;
    color: #e0d8d8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 100px;

}
.intro-banner {
    padding-top: 20px;
    background-color: white;
    color: #3e3e3e;
    padding-left: 100px;
    font-size: 24px;
    text-align: left;
    padding-bottom: 20px;
    
}
.hey {
    display: block;
    text-align: left;
    font-weight: bold;
    
}
.centered-circle-image {
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.centered-circle-image img {
    border-radius: 50%;
    width:100px;
    height:100px;
    object-fit:cover;
}

.big-heading {
    padding-top: 20px;
    font-size: 48px;
    text-align: center;
    margin-top: 20px;
    color:#e0d8d8;
    font-weight: bold;

}

.small-heading{
    padding-top: 20px;
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
    color:#e0d8d8;
    
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.social-links {
    padding-top: 40px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 300px;
}

.social-links a {
    margin: 0 10px;
    color: #e0d8d8; 
    font-size: 24px; 
}

.social-links a:hover {
    color: #e0d8d8; 
}



