{% extends 'base.html' %}

{% block title %}Home | Priyanshu Verma{% endblock %}
{% block content %}
    <div class = "centered-circle-image">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Priyanshu Verma Logo">
    </div>
    <h1 class = "big-heading"> 
        Priyanshu Verma 
    </h1>
    <h2 class = "small-heading">
        Student & Backend Developer  
    </h2>
    <div class="social-links">
        <a href="https://github.com/vpriyanshu671" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:vpriyanshu671@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/priyanshu-verma-9ba911160/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://leetcode.com/u/priyanshu671/" target="_blank"><i class="fas fa-code"></i></a>
        <a href="https://www.instagram.com/vermapriyanshu_24" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>  
{% endblock %}
