{% extends 'base.html' %}

{% block title %}Home | Priyanshu Verma{% endblock %}
{% block content %}
    <div class="centered-circle-image">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Priyanshu Verma Logo">
    </div>
    <h1 class="big-heading"> 
        Priyanshu Verma 
    </h1>
    <h2 class="small-heading">
        Student & Backend Developer     
    </h2>
    <div class="social-links">
        <a href="https://github.com/vpriyanshu671" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:vpriyanshu671@gmail.com"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/priyanshu-verma-9ba911160/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://leetcode.com/u/priyanshu671/" target="_blank"><i class="fas fa-code"></i></a>
        <a href="https://www.instagram.com/vermapriyanshu_24" target="_blank"><i class="fab fa-instagram"></i></a>
    </div>
    
    <div class="intro-banner">
        <span class="hey">Hey!</span><br>
        I'm Priyanshu Verma <br> 
        <br>
        Welcome to my portfolio website where I showcase my projects, skills, and professional journey.<br> 
        
    </div>

    <div>
        <p class="Portfolio"></p>
    </div>
    <div class="timeline">
        <p>Timeline</p>
    </div>
    <div class="main-container">
        <div class="timeline-container">
            <div class="vertical-line"></div>

            <div class="circle-point" style="top: 140px;">
                <img src="{{ url_for('static', filename='images/Techsalo.jpeg') }}" alt="Techsalo Infotech Logo">
            </div>
            <div class="left-text-point" style="top: 160px;">Dec 2023 - Present</div>
            <div class="content-point" style="top: 160px;">
                
                <div class="right-square" onclick="window.open('https://techsalo.com/','_blank')">
                    <h3>Techsalo Infotech</h3>
                    <p>I have been working at Techsalo Infotech since December 2023. Currently, I am employed as a Backend Developer and Data Engineer</p>

                    <p><strong>Skills:</strong> Linux OS, Google Cloud, Docker, Flask, Python, React</p>
                </div>
                
            </div>



            <div class="circle-point" style="top: 520px;">
                <img src="{{ url_for('static', filename='images/cert.jpeg') }}" alt="Dev Create Hackathon 2022 Logo">
            </div>
            <div class="right-text-point" style="top: 540px;">Sep 3 & 4 2022</div>
            <div class="content-point" style="top: 560px;">
                <div class="square" onclick="window.open('https://www.linkedin.com/in/priyanshu-verma-9ba911160/overlay/1635539822808/single-media-viewer/?profileId=ACoAACaUCV4B-cN107xcnbSYkaL-6bPjknsWqxU','_blank')">
                    <h3>Dev Create Hackathon 2022</h3>
                    <p>Secured 1st prize out of 70 teams in DevCreate Hackathon 2022 on Sep 3 and 4, 2022, organized by Google Developers Group Jalandhar.</p>
                </div>
            </div>

            <div class="circle-point" style="top: 900px;">
                <img src="{{ url_for('static', filename='images/Uni.png') }}" alt="University of Patiala Logo">
            </div>
            <div class="left-text-point" style="top: 920px;">August 2020 - May 2024</div>
            <div class="content-point" style="top: 940px;">
                <div class="right-square" onclick="window.open('http://punjabiuniversity.ac.in/','_blank')">
                    <h3>Punjabi University, Patiala</h3>
                    <p>I am currently pursuing a Bachelor of Technology in Computer Science at Punjabi University, Patiala, a prestigious government institution. This program is equipping me with advanced knowledge and technical skills in the field of computer science, preparing me for a successful career in technology.</p>
                </div>
            </div>

            <div class="circle-point" style="top: 1280px;">
                <img src="{{ url_for('static', filename='images/gnf.png') }}" alt="Guru Nanak Foundation Public School Logo">
            </div>
            <div class="right-text-point" style="top: 1300px;">Jan 2005 - June 2020</div>
            <div class="content-point" style="top: 1320px;">
                <div class="square" onclick="window.open('https://gnfpspatiala.org.in/','_blank')">
                    <h3>Guru Nanak Foundation Public School</h3>
                    <p>I completed my entire schooling, from nursery through to the 12th grade, at Guru Nanak Foundation Public School in Patiala. This institution not only provided me with a solid academic foundation but also nurtured my personal growth and development.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="cta-container">
        <h2>Explore More</h2>
        <p>Check out my projects and CV to learn more about my work and experience.</p>
        <div class="cta-buttons">
            <a href="{{ url_for('projects') }}" class="cta-button">Projects</a>
            <a href="{{ url_for('cv') }}" class="cta-button">CV</a>
        </div>
    </div>
{% endblock %}


            

        
        
        

    
    
    
