{% extends 'base.html' %}

{% block title %}Projects | Priyanshu Verma{% endblock %}

{% block content %}
<style>
    body {
        background-color: white;
        font-family: 'Roboto', Helvetica, sans-serif;
    }

</style>

<h1 style="color: rgb(36, 36, 36); text-align: center;">My Projects</h1>
<div class="container">
    <div class="project-card">
        <img src="{{ url_for('static', filename='images/flask-main.png') }}" alt="Flask Logo">
        <h2>Portfolio</h2>
        <p>I have worked on this portfolio website to learn Flask, HTML, CSS, and JavaScript. This website is one of my personal project.</p>
        
    </div>
    <div class="project-card cardcolor">
        <img src="https://diogotc.com/assets/icons/resumos-leic.svg" alt="Flask Logo" style="width: 100px; height: 100px; ">
        <h2>Avartify 3D Model</h2>
        <p>At Techsalo Infotech, I am involved in the Avartify Project, where we work with 3D models. My role as a
            backend developer includes providing APIs that enable the models to interact and converse with users. This
            project is ongoing.</p>
        
    </div>
    <div class="project-card cardcolor">
        <img src="{{ url_for('static', filename='images/sqlassist.png') }}" alt="Flask Logo"
            style="width: 30%; height: 30%;">
        <h2>SQLAssist</h2>
        <p>At Techsalo Infotech, I am working on the SQLAssist Project as a backend developer. My responsibilities
            include creating Flask API routes for the frontend to enhance functionalities. Additionally, I have been
            given a leadership role in this ongoing project.</p>
        
    </div>
</div>

{% endblock %}
